@media only screen and (max-width: 1200px) and (min-width : 667px) {
	/* Définition des polices personnalisées */
	body {
		width: 100%;
		overflow-x: hidden;
	}
	/* elements de la page */
	#bloc_page {
		width: 100%;
		display: block;
	}
	#page_top {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	h1 {
		font-size: 2em;
		color: black;
		margin-left: 30px;
	}
	h2 {
		font-size: 1.4em;
		color: black;
	}
	p {
		font-size: 1.2em;
		color: black;
	}
	.logo {
		grid-area: logo;
		padding-top: 0px;
		padding-left: 5px;
	}
	nav {
		width: 100%;
		grid-area: nav;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.inscription {
		grid-area: inscription;
		padding: 15px 5px 0 0;
	}
	/* HEADER */
	header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 50px 1fr;
		grid-template-areas: "logo inscription" "nav nav";
	}
	section {
		margin-top: 0;
	}
	section h1 {
		text-align: center;
	}
	.bloc_nav {
		display: flex;
		flex-direction: row;
	}
	/* Navigation */
	nav ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding-left: 0;
	}
	nav li {
		width: 320px;
		text-align: center;
		color: #DEEBFF;
		font-size: 2em;
		padding: 48px 0px 10px 0px;
		border-top: none;
		border-bottom: 4px solid #c2c2c2;
		margin: 0;
	}
	nav li:hover {
		color: #0065FC;
		padding-top: 48px;
		border-top: none;
		border-bottom: 4px solid #0065FC;
	}
	a {
		text-decoration: none;
	}
	a:hover {
		color: black;
	}
	.inscription {
		padding-top: 15px;
	}
	.pleine_nature {
		margin-left: 30px;
	}
	/* formulaire de recherche */
	.recherche {
		display: flex;
		margin-left: 30px;
		font-size: 1.2em;
		

	}
	.position {
		font-size: 1.3em;
		padding: 15px 20px;
		border-top: 1px solid #F2F2F2;
		border-left: 1px solid #F2F2F2;
		border-bottom: 1px solid #F2F2F2;
		border-right: none;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.formulaire {
		font-size: 1.2em;
		font-weight: bold;
		outline-style: none;
		border-top: 1px solid #F2F2F2;
		border-bottom: 1px solid #F2F2F2;
		border-right: none;
		border-left: none;
		padding-left: 15px;
	}

	/* filtres et formulaire*/
	.section_filtres {
		margin-top: 30px;
		font-size: 1em;
		font-weight: bold;
	}
	.nav_filtres {
		color: black;
		display: flex;
		padding: 10px;
	}
	.filtres {
		display: flex;
		flex-direction: column;
	}
	.filtres_liste {
		display: flex;
		flex-wrap: wrap;
		font-size: 0.9em;
	}
	.liste_filtres {
		color: black;
		border: solid 2px;
		border-color: #DCDCDC;
		border-radius: 40px;
		align-items: center;
		text-align: center;
		display: flex;
		margin-left: 20px;
	}
	.bull_filtres {
		font-size: 1rem;
		background-color: #DEEBFF;
		color: #0065FC;
		border-radius: 100%;
		padding: 20px;
		float: left;
	}
	.filtre_texte {
		margin-left: 15px;
		margin-right: 15px;
	}
	.info {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 20px;
		margin-left: 30px;
	}
	.fa-info {
		font-size: 0.75rem;
		color: #0065FC;
	}
	.icone_i {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 0.75rem;
		min-width: 1.5rem;
		min-height: 1.5rem;
		border: 2px solid gray;
		border-radius: 1.5rem;
		cursor: pointer;
	}
	/* bloc section central */
	.bloc_central {
		flex-direction: column-reverse;
		height: auto;
		margin: 0;
	}
	.bloc_central p {
		font-size: 1.4em;
	}
	.central_right {
		width: 100%;
		height: auto;
		align-items: center;
		flex-direction: column;
	}
	.bloc_right {
		width: 100%;
		height: auto;
		border-radius: 0;
		margin-bottom: 30px;
		padding: 0;
	}
	.bloc_img_right {
		flex-direction: column;
	}
	.img_hebergement_right {
		width: 500px;
		height: 200px;
		padding: 4px;
	}
	.img_hebergement_right p {
		font-size: 1em;
	}
	.img_7 {
		min-width: 300px;
	}
	.img_8 {
		min-width: 300px;
	}
	.img_9 {
		min-width: 300px;
	}
	.bloc_left {
		width: 100%;
		height: 1580px;
		background-color: white;
		border-radius: 0;
		margin-bottom: 30px;
		padding: 0;
	}
	.central_left {
		height: 1675px;
	}
	.central_left a {
		text-align: center;
	}
	.bloc_img {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.titre_left {
		text-align: center;
		margin: 15px 0;
	}
	.img_hebergement {
		width: 500px;
		height: 215px;
		margin-bottom: 15px;
	}
	.bloc_central2 {
		flex-direction: column;
		align-items: center;
	}
	.bloc_central2 h1 {
		text-align: center;
	}
	.bloc_1 {
		width: 500px;
		height: 230px;
		margin-bottom: 15px;
	}
	.bloc_2a {
		width: 500px;
		height: 230px;
		margin-bottom: 15px;
	}
	.bloc_2b {
		width: 500px;
		height: 230px;
		margin-bottom: 15px;
	}
	.bloc_3 {
		width: 500px;
		height: 230px;
		margin-bottom: 15px;
	}
	.bloc_4a {
		width: 500px;
		height: 230px;
		margin-bottom: 15px;
	}
	.bloc_4b {
		width: 500px;
		height: 230px;
		margin-bottom: 15px;
	}
	footer p {
		width: 200px;
	}
	footer {
		width: 100%;
		height: auto;
		padding: 0;
		flex-direction: column;
		align-items: center;
	}
	.footer_p {
		margin: 15px 0;
	}
}