/* Définition des polices personnalisées */

body{

    font-family: 'Raleway', sans-serif;
}

/* elements de la page */

#bloc_page{
    width: 60%;
    margin: auto;
}

h1{
    font-size: 1.2em;
    color: black;
}

h2{
    font-size: 1.2em;
    color: black;    
}

p{
    font-size: 0.9em;
    color: black;
}



/* HEADER */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}


/* Navigation */

nav ul{
    list-style-type: none;
    display: flex; 
    flex-direction: row;
}

nav li{
    color: #DEEBFF;
    margin-right: 50px;
}

nav li:hover{
    border-top:2px solid #0065FC ;
}

a{
    text-decoration: none;
}

a:hover{
    color: black;

}
/* formulaire de recherche */

.recherche{
    display: flex;
}

.position{
    padding: 10px 25px;
    border-top:1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.formulaire{
    font-weight: bold;
    outline-style: none;
    border-top:1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    padding-left: 15px;
}
.bouton_recherche{
    background-color: #0065FC;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bouton_recherche:hover{
    background-color: #60a0ff;
    color: black;
    font-weight: bold;
    
}

/* filtres et formulaire*/

.section_filtres{
    margin-top: 30px;
    font-weight: bold;
}

.nav_filtres{
    color: black;
    text-align: auto;
    display: flex;
    padding: 10px;
}

.filtres{
    display:  flex;
    flex-direction: row;
}

.liste_filtres{
    color: black;
    border: solid 2px;
    border-color: 	#DCDCDC;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 20px;

}

.bull_filtres{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    padding: 10px;
    float: left;

}

.filtre_texte{
    margin-left: 15px;
    margin-right: 15px;
}

.info{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.icone_i{
    color: #0065FC;
    border: solid 1px #DCDCDC;
    border-radius: 50%;
    padding-right: 17px;
    padding-left: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 5px;
}

/* bloc section central */

.bloc_central{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* bloc central left */

.bloc_left{
    background-color: #DCDCDC;
    border-radius: 15px;
    width: 700px;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.central_left{
    border: solid 0px black;
    width: 675px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.bloc_img{
    display: flex;
    justify-content: space-between;
    margin: 15px;

}

.img_hebergement{
    background-color: white;
    border-radius: 15px;
    width: 200px;
    height: 150px;
    display: flex;
}

/* bloc central right */

.bloc_right{
    background-color: #DCDCDC;
    border-radius: 15px;
    width: 375px;
    height: 465px;
}


/* Footer */