/* Définition des polices personnalisées */

body{

    font-family: 'Raleway', sans-serif;
}

/* elements de la page */

#bloc_page{
    width: 60%;
    margin: auto;
}

h1{
    font-size: 1.4em;
    color: black;
}

h2{
    font-size: 1.2em;
    color: black;    
}

p{
    font-size: 1.2em;
    color: gray;
}



/* HEADER */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Navigation */

nav ul{
    list-style-type: none;
    display: flex; 
    flex-direction: row;
}

nav li{
    color: #0065FC;
    margin-right: 50px;
}

a{
    
    text-decoration: none;
}

a:hover{
    color: black;
}
/* corps*/

.nav_filtres{
        color: black;
}

.filtres{
    display:  flex;
    flex-direction: row;
}

.liste_filtres{
color: black;
border: solid 2px;
border-color: 	#DCDCDC;
border-radius: 20px;
text-align: center;
display: flex;
margin-left: 50px;
padding: 10px;
}

.info{
    display: flex;
    flex-direction: row;
}



/* Footer */